h1 {
	font-size: 30pt;
	margin-left:450px;
}
h2 {
	font-style: italic;
}
h3 {
	font-style: italic;
}
strong {
	padding: 5px;
}
a {
	text-indent: 50px;
}
li {
	list-style-type: none;
}
iframe {
	float: right;
	width: 500px;
	height: 500px;
	margin: 100px;
}